body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway' 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Open Sans' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgba(0, 0, 0, 0.05); */
  background-color: #fffff0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  font-style: italic;
}
p {
  font-family: 'Raleway', sans-serif;
}
label {
  font-family: 'Raleway', sans-serif;
  margin-right: 5px;
}

:root {
  --blue: hsl(191, 100%, 76%);
  --yellow: hsl(46, 100%, 82%);
  --red: hsl(354, 100%, 81%);
  --teal: hsl(171, 79%, 80%);
  --purple: hsl(257, 90%, 87%);
  --navy: hsl(229, 18%, 61%);
}
.home-heading {
  font-family: 'Livvic', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: clamp(1.15rem, 1rem + 2.4vw, 2.2rem);
  margin: 10px;
  background-color: var(--navy);

  background-image: linear-gradient(
    45deg,
    var(--navy) 16%,
    var(--purple) 16%,
    var(--purple) 33%,
    var(--teal) 33%,
    var(--teal) 50%,
    var(--red) 50%,
    var(--red) 66%,
    var(--blue) 66%,
    var(--blue) 83%,
    var(--yellow) 83%,
    var(--yellow) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: text-animation-rev 1.5s ease forwards;
}

@keyframes text-animation-rev {
  0% {
    background-size: 600%;
  }
  20% {
    background-size: 600%;
  }
  40% {
    background-size: 50%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes text-animation-hover {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 600%;
  }
  100% {
    background-size: 600%;
  }
}

@media (min-width: 778px) {
  .home-heading {
    font-size: clamp(1.15rem, 1rem + 2.4vw, 2.2rem);
    margin: 15px;
  }
}

@media (min-width: 1024px) {
  .home-heading {
    font-size: clamp(1.15rem, 1rem + 3.4vw, 3.2rem);
    margin: 15px;
  }
  .home-heading:hover {
    animation: text-animation-hover 0.5s ease-in forwards;
  }
}
