body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway' 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Open Sans' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.05);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  font-style: italic;
}
p {
  font-family: 'Raleway', sans-serif;
}
label {
  font-family: 'Raleway', sans-serif;
  margin-right: 5px;
}
